<%= form_with url: "/flights", method: :get do |f| %>
  <div class="search">
    <div class="search-field">
      <%= f.select(:arrival_airport_id, 
                  options_for_select(@airport_options),
                  prompt: "Destination") %>
    </div>
    <div class="search-field">
      <%= f.select(:departure_airport_id, 
                  options_for_select(@airport_options),
                  prompt: "Departure") %>
    </div>
    <div class="search-field">
      <%= f.select(:ticket_count,
                  options_for_select([1,2,3,4]),
                  prompt: "Passengers")%>
    </div>
    <div class="search-field">
      <%= f.date_field(:start, 
                       prompt: "Date") %>
    </div>
    <%= f.submit "Search" %>
  </div>
<% end %> 