<div id="search-results">
  <% if @flights.empty? == false %>
    <%= form_with url: "bookings/new/", method: "get" do |f| %>  
      <%= f.hidden_field :ticket_count, :value => params[:ticket_count]%>
      <div id="results">
        <% @flights.each do |flight| %>
          <div class="card">
            <div class="card-top">
              <div class="airport-info">
                <div class="airport-location">
                  <%= flight.departure_airport.location %>
                </div>
                <div class="airport-code">
                  <%= flight.departure_airport.airport_code %>
                </div>
              </div>
              <div class="image"><%= image_tag("travel.jpeg") %></div>
              <div class="airport-info">
                <div class="airport-location">
                  <%= flight.arrival_airport.location %>
                </div>
                <div class="airport-code">
                  <%= flight.arrival_airport.airport_code %>
                </div>
              </div>
            </div>
            <div class="card-bottom">
              <div class="radio-bttn">
                <%= f.radio_button :flight_id, flight.id %>
                <%= f.label "select this flight" %>
              </div>
              <div class="datetime-info">
                <div class="date">
                  <%= flight.departure_date %>
                </div>
                <div class="time">
                  <%= flight.departure_time %>
                </div>
                <div class="duration"><%= flight.time_conversion %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div> 
      <div id="submit"> 
        <div><%= f.submit "Book Flight" %></div>
      </div>
    <% end %>
  <% elsif @flights.empty? %>
    <div id="empty-results">
      <p>We're sorry, there are no available flights for that day.</p>
    </div>
  <% end %>
</div>