<div id="booking-form">
  <%= form_with model: @booking, local: true do |f| %>
    <%= f.hidden_field :flight_id, :value => @flight.id %>
    <div id="new-booking-title">
      <h3>Please Enter Passenger Information</h3>
    </div>
    <%= f.fields_for :passengers do |passenger_form| %>
      <div class="new-passenger-container">
        <div class="form-field">
          <%= passenger_form.label :name %>
          <%= passenger_form.text_field :name, required: true %>
        </div>
        <div class="form-field">
          <%= passenger_form.label :email %>
          <%= passenger_form.email_field :email, required: true, class: 'p-email' %>
        </div>
      </div>
    <% end %>
    <div id="form-button">
      <%= f.submit "Book Flight" %>
    </div>
  <% end %>
</div>